@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 5vh;
}

* {
  text-rendering: geometricPrecision;
}

@layer components {
  .container {
    @apply mx-auto max-w-[1376px] px-4;
  }
}

@layer components {
  .crafts {
    @apply flex sm:flex sm:min-w-[440vw];
  }

  .craft--item {
    @apply relative mr-6 flex w-full last:mr-0 sm:w-[70vw] sm:last:mr-0;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0px 0px 20px white);
  }

  50% {
    filter: drop-shadow(0px 0px 20px white);
  }
}

@layer components {
  @screen min-sm {
    .rotate--glow {
      animation: glow 1.4s ease infinite alternate-reverse;
      @apply opacity-60 backdrop-blur-xl [&_path]:fill-white;
    }
  }
}
